@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<table>
    <tr>
        <td>
            <button class="btn btn-primary" @onclick="IncrementCount">Click me to increase</button>
         </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-danger" style="margin-top: 5px;" @onclick="DecreaseCount">Click me to decrease</button>
        </td>
    </tr>
</table>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecreaseCount()
    {
        currentCount--;
    }


}
